<div class="layout-container">
  <mat-toolbar class="header">
    <img src="/logo-proyect.png" class="logo-header" alt="Logo" />
    <span class="title">{{ 'APP.TITLE' | translate }}</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidebar">
      <mat-nav-list>
        <a mat-list-item routerLink="/items" routerLinkActive="active">
          {{ 'NAV.PATIENTS' | translate }}
        </a>

        <a mat-list-item routerLink="/centros-derivacion" routerLinkActive="active">
          {{ 'NAV.REFERRALS' | translate }}
        </a>

        <a mat-list-item routerLink="/configuracion" routerLinkActive="active">
          {{ 'NAV.SETTINGS' | translate }}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <nav class="bottom-bar">
    <a routerLink="/items" routerLinkActive="active">
      {{ 'NAV.PATIENTS' | translate }}
    </a>

    <a routerLink="/centros-derivacion" routerLinkActive="active">
      {{ 'NAV.REFERRALS' | translate }}
    </a>

    <a routerLink="/configuracion" routerLinkActive="active">
      {{ 'NAV.SETTINGS' | translate }}
    </a>
  </nav>
</div>
